.App {
  max-width: 800px;
  height: 95vh;
  margin: 0 auto;
  background: url('./squairy_light_2X.png');
}

.App-header {
  background: url('./The_Marvel_Universe.png') no-repeat;
  background-size: cover;
  background-position: center -43px;
  min-height: 400px;
}

.App-header h2 {
  padding: 25px;
  font-family: 'Chivo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header p {
  padding: 25px;
  max-width: 50%;
  font-size: .85rem;
}

.legal-and-credits {
  height: 5vh;
  display: flex;
  align-items: center;
  padding: 0 25px;
  max-width: 800px;
  margin: 0 auto;
  font-size: .8rem;
}