.App {
  max-width: 800px;
  margin: 0 auto;
  background: url('./squairy_light_2X.png');
}

.App .instructions {
  text-align: center;
  padding: 10px;
  font-size: 1.25rem;
}

.App-header {
  background: url('./The_Marvel_Universe.png') no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 400px;
  position: relative;
}

.App-header h2 {
  padding: 10px 25px;
  font-family: 'Chivo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: firebrick;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 40%;
  color: white;
}

.App-header strong {
  font-weight: 400;
}

.App-header img {
  display: inline;
  width: auto;
  height: 50px;
  position: absolute;
  top: 8px;
  right: 6px;
}

.App-header p {
  padding: 20px;
  font-size: .85rem;
  max-width: 450px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .8);
}

.tagline {
  text-align: center;
  margin: 10px 0;
}

.legal-and-credits {
  height: 5vh;
  padding: 5px;
  max-width: 800px;
  margin: 0 auto;
  font-size: .7rem;
}