.App {
  max-width: 800px;
  height: 95vh;
  margin: 0 auto;
  background: url('./squairy_light_2X.png');
}

.App-header {
  background: url('./The_Marvel_Universe.png') no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 400px;
}

.App-header h2 {
  padding: 10px 25px;
  font-family: 'Chivo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: yellow;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 40%;
}

.App-header p {
  padding: 25px;
  font-size: .85rem;
  width: 450px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .8);
}

.legal-and-credits {
  height: 5vh;
  display: flex;
  align-items: center;
  padding: 0 25px;
  max-width: 800px;
  margin: 0 auto;
  font-size: .8rem;
}